body{
    font: 15px/1.5 Myriad, Myriad,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.main-content{
    padding: 20px;
    background-color: #c7c7c7;
    min-height: calc(100vh - 163px) !important;
}
.main-content-contact{
    padding: 20px;
    background-color: #c7c7c7;
    height: calc(100vh - 163px) !important;
}


.img-grayscale{
  filter: grayscale(1);
}

.img-grayscale:hover{
  cursor: pointer;
  filter: grayscale(0);
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar {
  min-height: 98px !important;
}

ul{
    margin:0;
    padding:0;
  }

  .navbar-nav a {
    font-weight: 600;
    text-transform: uppercase;
  }
  .navbar-nav a:hover {
    color:  #ff9110 !important;
  }

/* grid */
.flex{
    display: flex;
}
.two-column-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.grid-flex-end{
    justify-content: flex-end;
}

.grid-flex-center-items{
    align-items: center;
}

.white{
    color: white;
}

.not-bold{
    font-weight: 400;
}

.font-x-large{
    font-size: 5em;
}
/* Header **/
header{
    background:#252525;
    color:#ffffff;
    padding-top:10px;
    min-height:50px;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:white;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }

  .hover-belgrade {
    position: absolute;
    left: 48%;
    top: 25%;
    width: 65px;
    height: 65px;
    opacity: 0;
  }
  .contact-main {
    background: url('../Assets/Contact/Mapa za contact.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 70%;
    background-position: 47% 25%;
    background-color: #c7c7c7;
    width: 100%;
    height: 80%;
  }
  .hover-belgrade:hover {
    opacity: 1;
    left: 46% !important;
    top: 20% !important;
    width: auto !important;

  }
  .hover-belgrade p {
    background: white;
    padding: 3px;

  }

/* FOOTER */

footer{
    text-align: center;
    background-color: #252525;
    color: white;
    min-height: 60px;
    padding-top:10px;
}
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    
    header{
      padding-bottom:20px;
    }
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contact-main {
    background-size: 120% !important;
    height: 65%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .contact-main {
    background-size: 120% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contact-main {
    background-size: 100% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .contact-main {
    background-size: 90% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .contact-main {
    background-size: 70% !important;
  }
}